.serv ul {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 15px;
  list-style: none;
  padding-left: 0;
}
.cerv ul {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 15px;
  list-style: none;
  padding-left: 0;
}

