.searchInput{
  margin-top: 40px;
  margin-left: 200px;
  display: flex;  
}
.search input{
    background-color: rgb(85, 4, 37);
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    width: 450px;  
    height: 50px;
    padding: 15px;
}
.searchIcon{
    height: 50px;
    width: 60px;
    background-color: rgb(52, 8, 114);
    display: grid;
    place-items: center;
}
input:focus{
    outline: rgb(234, 226, 226);
}

.searchIcon svg{
    font-size: 35px;
}

.dataResult{
    box-shadow: rgba(99, 6, 6, 0.35) 0px 5px 15px;
    margin-left: 300px;
    width: 50%;
    height: 100px;
    overflow: hidden;
    overflow-y: auto;
}
.dataResult::-webkit-scrollbar{
    display: none;
}
.dataResult .dataItem{
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    color: rgb(69, 7, 7);
}

.dataItem p{
margin-left: 10px;
}
a{
    text-decoration: none;
}
a:hover{
    background-color: rgb(78, 8, 8);
}
#clearBtn{
    cursor: pointer;
}